@use '../../variables' as v;

#buttonWrapper{
    width: 100%;
    margin: 0;
    display: flex;
}

.newQuote {
    font-family: Arial;
    font-size: 14px;
    text-decoration: none;
    border: none;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    font-weight: bold;
    margin: 0;
    background-color:  var(--text-body-color);
    color: var(--background-color) ;
    position: relative;
    top: 0;
    left: calc(50% - 50px);
}

#inlineTextbox {
    width: 2.5em;
    color: var(--text-body-color);
    background-color: var(--background-color);
    border: none;
    border-bottom: 1px solid white;
    font-size: 18px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    box-shadow: none;
    appearance: textfield;
    text-align: center;
}

#decrement, #increment {
    margin: auto 10%;
    font-family: Arial;
    font-size: 14px;
    text-decoration: none;
    border: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-weight: bold;
    background-color: var(--tertiary-color);
    i {
        color: var(--background-color);
    }
}

#newQuote:hover, #decrement:hover, #increment:hover, #tweetButton:hover {
    opacity: .75;
}