@use "variables" as v;

.appWrapper {
    margin: auto auto;
    width: 700px;
}

body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: 0 auto;
    color: var(--text-body-color);
    display: flex;
}






